.search {
  display: flex;
  align-items: stretch;
}

.search__input {
  flex: 1;
  margin-right: 15px;
}

.container {
  min-height: 200px;
  position: relative;
  margin-top: var(--spacing-l);
}

.products {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-column-gap: var(--spacing-m);
  grid-row-gap: var(--spacing-m);
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.products__loading {
  opacity: 0.6;
}

.product {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  padding: var(--spacing-s);
  cursor: pointer;
}

.product:hover {
  border-color: var(--accent-color);
  box-shadow: 0 0 0 3px var(--semi-transparent-accent-color);
}

.product__content {
  line-height: 1;
  flex: 1;
}

.product__image {
  display: block;
  background-size: cover;
  width: 50px;
  margin-right: var(--spacing-m);
  flex-shrink: 0;
}

.product__image img {
  width: 100%;
  display: block;
}

.product__code {
  font-size: var(--font-size-l);
  margin-bottom: 5px;
}

.product__title {
  font-size: var(--font-size-s);
  margin-top: 2px;
  color: #999;
}

.empty {
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--light-body-color);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-bg-color);
}