.item {
  all: inherit;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: rgba(var(--color-rgb-components), 0.1);
  font-size: var(--font-size-s);
  padding: var(--spacing-s);
  line-height: 1;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  margin-bottom: 1px;
}

.item:hover {
  background: rgba(var(--color-rgb-components), 0.2);
}

.hour {
  position: absolute;
  top: var(--spacing-s);
  right: var(--spacing-s);
  width: 40px;
  text-align: right;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 50px;
}

.type {
  color: var(--light-body-color);
  padding-left: 0.3em;
}