.root {
  display: flex;
  width: 100%;
  background: none;
  color: inherit;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  padding: 12px 15px;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  transition: background-color 0.2s ease;
  gap: 10px;
  flex: 1;
}

.root:hover {
  background-color: var(--light-bg-color);
}

.icon {
  flex-shrink: 0;
  width: 12px;
  color: var(--light-body-color);
  margin-left: 10px;
  flex-shrink: 0;
}

.previewLink {
  min-width: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--light-body-color);
}

.title {
  color: var(--base-body-color);
  font-weight: bold;
}
