.value {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 20px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  position: relative;
}
.value__loading {
  opacity: 0.6;
}

.value__product {
  display: flex;
  align-items: center;
}

.value__product__image {
  width: 150px;
  margin-right: 20px;
  background-size: cover;
  border-radius: 4px;
  background-position: center center;
  border-radius: 1px solid var(--border-color);
  padding: 2px;
}
.value__product__image:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.value__product__info {
  flex: 1;
  text-align: left;
}

.value__product__title {
  margin-bottom: 3px;
}
.value__product__title a {
  font-size: 17px;
  text-decoration: none;
}
.value__product__title a:hover {
  text-decoration: underline;
}
.value__product__title a:after {
  content: "";
  width: 14px;
  height: 14px;
  display: inline-block;
  background: url("./external-link.svg") center center;
  background-size: contain;
  margin-left: 8px;
  vertical-align: middle;
}

.value__product__description {
  color: var(--light-body-color);
  font-size: 0.9em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.value__product__code {
  font-size: 0.9em;
  color: var(--light-body-color);
  margin-bottom: 10px;
}

.value__reset {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("./close.svg") center center;
  background-size: contain;
  border: 0;
  background-color: transparent;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
  cursor: pointer;
}

.value__reset:hover {
  opacity: 0.8;
}
