.toolbarButton {
  border: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  color: #666;
  border-left: 1px solid var(--border-color);
  width: 45px;
}

.toolbarButton:hover {
  color: #444;
  background-color: var(--light-bg-color);
}

.toolbarButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
