.toolbarButton {
  border: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  color: var(--color--ink-subtle);
  border-left: 1px solid var(--color--border);
  aspect-ratio: 1;
  font-size: 15px;
  height: 100%;
}

.toolbarButton:hover {
  color: var(--color--ink);
  background-color: var(--color--surface-muted);
}

.toolbarButton:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}
