.container
  background-color: white
  padding: 24px

.container
  background-color: white
  padding: 24px
.yoast-seo__root
  border-bottom: 1px solid #f0f0f0
  padding-bottom: 20px
.yoast-seo__tabs-header
  display: flex
  padding-bottom: 2px
  border-top: 1px solid #f0f0f0
  border-bottom: 1px solid #f0f0f0
  button
    border-bottom-left-radius: 0
    border-bottom-right-radius: 0
    color: #5b5b5b
    &.active
      box-shadow: 0 3px 0
      color: var(--primary-color)
    & > svg
      position: relative
      top: 2px
      width: 8px
      height: 8px
      margin-right: 4px
.yoast-seo__tabs-panel
  margin-top: 16px
.yoast-seo__form-inline
  display: flex
  align-items: flex-end
  max-width: 65%
  .yoast-seo__form-button
    margin-left: 8px
  .yoast-seo__form-field
    flex: 1
    margin-bottom: 0
.yoast-seo__form-field
  display: flex
  flex-direction: column
  margin-bottom: 8px
  & > input
    margin-top: 8px
.yoast-seo__result-item
  display: flex
  margin-top: 8px
  & > p
    margin-left: 8px
.yoast-seo__result-group
  margin-top: 16px
  & > .yoast-seo__result-group-title
    all: unset
    color: #000000
    text-decoration: underline
    cursor: pointer
.yoast-seo__arrow
  margin-right: 4px
  width: 12px
  height: 12px
  stroke: #333333
  stroke-width: 6px
  fill: none
.yoast-seo__arrow-up
  transform: rotate(180deg)
.yoast-seo__results
  margin-top: 12px
.yoast-seo__button-wrapper
  border-top: 1px solid #f0f0f0
  padding-top: 12px
  margin-top: 12px
.yoast-seo__readability-tab
  position: relative
.yoast-seo__readability-refresh-btn
  position: absolute
  top: -4px
  right: 0
  & > svg
    width: 14px
    height: 14px
    margin-right: 4px
    vertical-align: middle
