.table {
  border-spacing: 0;
  border-bottom: 0;
  margin-bottom: var(--spacing-m);
}

.thead {
  /* These styles are required for a scrollable body to align with the header properly */
  overflow-y: auto;
  overflow-x: hidden;
  margin-left: 15px;
}

.tbody {
  /* These styles are required for a scrollable table body */
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
}

.tr {
  position: relative;
  border-bottom: 1px solid var(--border-color);
}

.tr:last-child .td {
  border-bottom: 0;
}

.th,
.td {
  margin: 0;
  padding: 0;
  border-right: 1px solid var(--border-color);
  /* In this example we use an absolutely position resizer so this is required. */
  position: relative;
}

.th {
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.th > * {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: stretch;
}

.th:last-child,
.td:last-child {
  border-right: 0;
}

.td textarea {
  font-family: inherit;
  font-size: inherit;
  resize: none;
  display: block;
  width: 100%;
  border: 0;
  padding: 12px;
  box-sizing: border-box;
  outline: none;
  background: transparent;
}

.resizer {
  right: 0;
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: -5px;
  z-index: 1;
  /* prevents from scrolling while dragging on touch devices */
  touch-action: none;
}

.dropdownWrapper {
  width: 15px;
}

.dropdownWrapper > * {
  position: absolute !important;
  right: 100%;
  width: 15px;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.handle {
  all: inherit;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(var(--light-body-color-rgb-components), 0.1);
  cursor: pointer;
  transition: background 0.2s var(--material-ease);
}

.handle:hover {
  background: rgba(var(--light-body-color-rgb-components), 0.2);
}

.actions {
  display: flex;
}

.actions > * {
  margin-right: 10px;
}

.actions > *:last-child {
  margin-right: 0;
}

.actionsSpacer {
  flex: 1;
}
