svg {
  display: block;
}

html,
body {
  height: 100%;
}

.dropzone,
.export-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.react-flow {
  background: var(--light-bg-color);
}

.dropzone--pending {
  opacity: 0.4;
}

.app-node {
  display: flex;
  width: 230px;
  --color-components: 42, 157, 143;
}

.app-node__body {
  margin: 0 auto;
  max-width: 100%;
  min-width: 120px;
  box-sizing: border-box;
  padding: 20px 15px 15px 15px;
  border-radius: 5px;
  text-wrap: nowrap;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid rgb(var(--color-components));
  background: color-mix(in srgb, rgb(var(--color-components)), white 94%);

  &:hover {
    box-shadow: 0 0 0 3px transparent, 0 0 0 3px
      rgb(var(--color-components), 40%);
  }

  * {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.react-flow__handle-top {
  top: -10px;
}

.app-node__type {
  background: rgb(var(--color-components));
  font-size: 11px;
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 5px;
  padding: 3px 20px;
  z-index: 100;
}

.app-node--block {
  --color-components: 88, 42, 157;
}

.app-node--plugin {
  --color-components: 19, 145, 15;
}

.app-node--conflict {
  --color-components: 200, 0, 0;
}

.app-node__name {
  font-weight: bold;
}

.app-node__apikey {
  font-size: 12px;
}

.app-node__icon {
  width: 11px;
  fill: white;
}

.app-node__excluded-from-export {
  opacity: 0.2;
}

.app-node__focused .app-node__body {
  box-shadow: 0 0 0 3px transparent, 0 0 0 3px rgb(var(--color-components), 50%);
}

.tooltip {
  background: white;
  padding: 20px;
  border-radius: 10px;
  /* http://smoothshadows.com/#djEsMSw2LDAuMTIsNzgsMCwwLCMwMzA3MTIsI2YzZjRmNiwjZmZmZmZmLDI%3D */
  box-shadow:
    0px 0px 2px rgba(3, 7, 18, 0.02), 0px 0px 9px rgba(3, 7, 18, 0.04),
    0px 0px 20px rgba(3, 7, 18, 0.06), 0px 0px 35px rgba(3, 7, 18, 0.08),
    0px 0px 54px rgba(3, 7, 18, 0.1), 0px 0px 78px rgba(3, 7, 18, 0.12);

  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 14px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.fieldset__title {
  font-weight: bold;
  font-size: 15px;
}

.fieldset__fields {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  display: flex;
  align-items: center;
  gap: 10px;
  text-wrap: nowrap;
}

.field__icon {
  flex: 0 0;
  min-width: 24px;
  min-height: 24px;
  border-radius: 5px;
  padding: 6px;
}

.field__body {
  flex: 1;
  overflow: hidden;

  * {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.field__label {
  font-weight: bold;
}

.field__type {
  color: #666;
}

code {
  color: #666;
}

.fieldEdge {
  width: 30px;
  height: 30px;
  position: relative;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    display: block;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #999;
  }

  .fieldEdge__tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
  }

  &:hover {
    &:before {
      background: #555;
    }

    .fieldEdge__tooltip {
      display: block;
    }
  }

  .field {
    font-size: 10px;
  }

  .field__icon {
    min-width: 16px;
    min-height: 16px;
    border-radius: 5px;
    padding: 5px;
  }
}

.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page__toolbar {
  border-bottom: 1px solid var(--border-color);
  padding: var(--spacing-m) var(--spacing-l);
  display: flex;
  align-items: center;
}

.page__toolbar__title {
  font-weight: bold;
  font-size: var(--font-size-xl);
  flex: 1;
}

.page__content {
  flex: 1;
  position: relative;
}

.blank-slate {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light-bg-color);
}

.blank-slate__content {
  font-size: var(--font-size-xl);
}

.import {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.import__graph {
  position: relative;
  flex: 1;
}

.import__details {
  width: 400px;
  border-left: 1px solid var(--border-left);
  overflow: auto;
  position: relative;
}

.conflict {
  border-bottom: 1px solid var(--border-color);
  padding: var(--spacing-l);

  &:hover,
  &.conflict--selected {
    background: var(--light-color);
  }
}

.conflict__title {
  font-weight: bold;
}
