.buttonGroup {
  display: flex;
  gap: 0;
  border: 1px solid var(--color--border);
  border-radius: 4px;
  overflow: hidden;
}

.buttonGroup > button,
.buttonGroup > a {
  border: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
  background: transparent;
  cursor: pointer;
  color: var(--color--ink-subtle);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-right: 1px solid var(--color--border);
  width: 38px;
  aspect-ratio: 1.1;
}

.buttonGroup > button:last-child,
.buttonGroup > a:last-child {
  border-right: 0;
}

.buttonGroup > button:hover,
.buttonGroup > a:hover {
  background: var(--color--surface-muted);
  color: var(--color--ink);
}
