.tooltip {
  padding: 10px 15px;
  text-align: center;
  font-size: 0.9em;
  max-width: 250px;
  line-height: 1.2;
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 4px;
  text-wrap: balance;
}
