.hotKey {
  display: inline-flex;
  align-items: center;
  gap: 15px;
}

.label {
  display: flex;
  align-items: center;
}

.keys {
  display: inline-flex;
  gap: 4px;
}

.hotKeyKey {
  padding: 5px 8px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  line-height: 1;
  background-color: var(--light-color);
}
