.button {
  border: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--border-color);
  width: 100%;
  font-size: var(--font-size-s);
  font-family: var(--monospaced-font-family);
  padding: 10px;
  gap: 10px;
  transition: border 0.2s var(--material-ease);
}

.button svg {
  color: var(--light-body-color);
}

.button:hover {
  border-color: var(--darker-border-color);
}

.error {
  border-color: var(--alert-color) !important;
}

.iconName {
  font-family: var(--monospaced-font-family);
  font-size: var(--font-size-s);
}
