.button {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: transparent;
  cursor: pointer;
  border: 1px solid var(--color--border);
  color: var(--color--ink);
  width: 100%;
  font-size: var(--font-size-s);
  font-family: var(--monospaced-font-family);
  padding: 10px;
  gap: 10px;
  transition: border 0.2s var(--material-ease);
}

.button svg {
  color: var(--color--ink-subtle);
}

.button:hover {
  border-color: var(--color--border-hover);
}

.error {
  border-color: var(--color--feedback-fail--border);
}

.iconName {
  font-family: var(--monospaced-font-family);
  font-size: var(--font-size-s);
}
