.previewLink {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: var(--spacing-m);
  margin-bottom: var(--spacing-m);
  align-items: center;
}

.previewLink__body {
  display: flex;
  flex-direction: column;
  gap: 2px;
  min-width: 0;
}

.previewLink__label {
  color: var(--base-body-color);
  padding: 0;
  margin: 0;
  font-weight: 500;
}

.previewLink__pathname {
  color: #999;
  font-size: 12px;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1;
}

.icon {
  margin-left: 5px;
}

.group {
  margin-bottom: var(--spacing-l);
}

.group:last-child {
  margin-bottom: 0;
}

.groupName {
  text-transform: uppercase;
  color: var(--light-body-color);
  font-weight: bold;
  font-size: var(--font-size-s);
  margin-bottom: var(--spacing-s);
}
