{
  parser: "babel-eslint",
  extends: "airbnb",
  env: {
    es6: true,
    mocha: true,
    browser: true
  },
  rules: {
    "react/jsx-no-bind": 0,
    "class-methods-use-this": 0
  },
  parserOptions: {
    sourceType: "module"
  },
  settings: {
    "import/resolver": "webpack"
  }
}

