.empty {
  border: 1px solid var(--border-color);
  text-align: center;
  padding: 20px;
}

.empty__label {
  margin-bottom: 20px;
  font-size: 17px;
}

.empty__search {
  display: flex;
  align-items: stretch;
}

.empty__search__input {
  flex: 1;
  margin-right: 15px;
  position: relative;
}

.empty__search__input input[type="text"] {
  padding-left: 38px;
}

.empty__forms {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: -10px;
  margin-bottom: -10px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.empty__forms__loading {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: -10px;
  margin-bottom: -10px;
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.empty__form {
  width: 170px;
  text-align: center;
  padding: 3px;
  padding-bottom: 0;
  border-radius: 3px;
  border: 1px solid var(--border-color);
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  color: var(--base-body-color);
  font: inherit;
  text-align: center;
  padding: 3px;
  box-sizing: border-box;
}

.empty__form:hover {
  border-color: var(--accent-color);
}

.empty__form__bg {
  content: "";
  padding-top: 90%;
  position: relative;
  background-size: contain;
}

.empty__form__title {
  line-height: 1.2;
  font-size: 14px;
  position: absolute;
  padding: 15px;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
}

.button {
  position: relative;
}

.button__loading {
  position: relative;
  padding-right: 33px;
}

.button__loading .spinner {
  border: 3px solid #fff;
  border-top-color: transparent;
  border-left-color: transparent;
  width: 8px;
  height: 8px;
  opacity: 0.8;
  border-radius: 50%;
  animation: loadingSpinner 0.7s infinite linear;
  margin-left: 15px;
  vertical-align: middle;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -7px;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}
.button .spinner {
  opacity: 0;
}

@keyframes loadingSpinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
