.wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.toolbar {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: stretch;
}

.toolbarMain {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.toolbarMain > * {
  flex: 1;
  display: flex;
  align-items: stretch;
}

.toolbarTitle {
  display: block;
  width: 100%;
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding: 10px 15px;
  text-align: left;
}

.toolbarTitle svg {
  margin-left: 10px;
}

.frame {
  flex: 1;
  position: relative;
}

.frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.copy {
  border: 0;
  padding: 15px;
  margin: 0;
  background: transparent;
  cursor: pointer;
  color: #666;
  border-left: 1px solid var(--border-color);
}

.copy:hover {
  color: #444;
}

.spinnerWrapper {
  flex: 1;
  background: var(--light-bg-color);
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background-color: var(--light-bg-color);
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.progressBarValue {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform:  translateX(0) scaleX(0);
  }
  40% {
    transform:  translateX(0) scaleX(0.4);
  }
  100% {
    transform:  translateX(100%) scaleX(0.5);
  }
}