.wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.toolbar {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: stretch;
  min-height: 45px;
  background-color: white;
}

.previewLinksWrapper {
  flex: 1;
  display: flex;
  align-items: stretch;
  border-left: 1px solid var(--border-color);
  overflow: hidden;
}

.previewLinksWrapper > * {
  flex: 1;
  display: flex;
  align-items: stretch;
  overflow: hidden;
}

.toolbarButton {
  border: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  cursor: pointer;
  color: #666;
  border-left: 1px solid var(--border-color);
  aspect-ratio: 1 / 1;
}

.toolbarButton:hover {
  color: #444;
  background-color: var(--light-bg-color);
}

.spinnerWrapper {
  flex: 1;
  background: var(--light-bg-color);
}
