.wrapper {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
}

.toolbar {
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: stretch;
}

.toolbarMain {
  flex: 1;
}

.toolbarTitle {
  display: block;
  width: 100%;
  background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  padding: 10px 15px;
  text-align: left;
}

.toolbarTitle svg {
  margin-left: 10px;
}

.frame {
  flex: 1;
  position: relative;
}

.frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 0;
}

.copy {
  border: 0;
  padding: 15px;
  margin: 0;
  background: transparent;
  cursor: pointer;
  color: #666;
  border-left: 1px solid var(--border-color);
}

.copy:hover {
  color: #444;
}