.frame {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg-color);
  padding: 20px;
  overflow: hidden;
  min-height: 0;
  box-sizing: border-box;
}

.frame iframe {
  display: block;
  border: none;
  box-shadow:
    0px 0px 2.2px rgba(0, 0, 0, 0.02),
    0px 0px 5.3px rgba(0, 0, 0, 0.028), 0px 0px 10px rgba(0, 0, 0, 0.035),
    0px 0px 17.9px rgba(0, 0, 0, 0.042), 0px 0px 33.4px rgba(0, 0, 0, 0.05),
    0px 0px 80px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  margin: auto;
  transition: width 0.3s ease, height 0.3s ease, transform 0.3s ease;
  transform-origin: center center;
  background: white;
}

.frameFitToSidebar {
  padding: 0;
}

.frameFitToSidebar iframe {
  box-shadow: none;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background-color: var(--light-bg-color);
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.progressBarValue {
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  animation: indeterminateAnimation 1s infinite linear;
  transform-origin: 0% 50%;
}

@keyframes indeterminateAnimation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}

.error {
  text-align: center;
  color: var(--light-body-color);
}
