.link {
  display: block;
  text-decoration: none;
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.link:last-child {
  margin-bottom: 0;
}

.group {
  margin: var(--spacing-m) 0;
}

.groupName {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--border-color);
  color: var(--light-body-color);
  margin-bottom: var(--spacing-m);
  text-transform: uppercase;
  font-weight: bold;
  font-size: var(--font-size-xs);
}

.groupChildren {
  padding-left: var(--spacing-m);
  border-left: 3px solid var(--border-color);
}