.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}

.hint {
  margin: 0;
  color: var(--light-body-color);
}

.footer {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing-s);
}
