.link {
  all: inherit;
  color: var(--accent-color);
  text-decoration: underline;
  padding: 0;
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
}

.plugin__status {
  align-self: center;
  margin-top: 5px;
}

.plugin__error {
  color: var(--alert-color);
}
