.layout {
  display: flex;
  position: absolute;
  inset: 0;
  background: var(--color--surface);
}

.layoutSidebar {
  border-right: 1px solid var(--color--border);
  width: 300px;
}

.layoutMain {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layoutCal {
  flex: 1;
  position: relative;
}

.filter {
  all: inherit;
  margin-right: var(--spacing-l);
  cursor: pointer;
}

.filter svg {
  display: inline-block;
  vertical-align: middle;
  fill: var(--color--ink-subtle);
}
