.layout {
  position: absolute;
  inset: 0;
}

.layoutCal {
  flex: 1;
  position: relative;
}

.filter {
  all: inherit;
  margin-right: var(--spacing-l);
  cursor: pointer;
}

.filter svg {
  display: inline-block;
  vertical-align: middle;
  fill: var(--color--ink-subtle);
}
