.Plugin {
  border: 1px solid var(--border-color);
  overflow: hidden;
  border-radius: 4px;
  background-color: var(--light-bg-color);
}

.Plugin__bar {
  display: flex;
  color: var(--light-body-color);
  line-height: 1;
  align-items: flex-end;
  flex-wrap: wrap;
  padding-right: 5px;
}
@media (min-width: 700px) {
  .Plugin__bar {
    flex-wrap: nowrap;
  }
}

.Plugin__bar__options {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: nowrap;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  width: 100%;
}

.Plugin__bar__options::-webkit-scrollbar {
  display: none;
}
@media (min-width: 700px) {
  .Plugin__bar__options {
    width: auto;
  }
}

.Plugin__bar__status {
  align-self: center;
  margin-left: 20px;
  margin-top: 5px;
}

.Plugin__bar__option {
  all: inherit;
  margin-top: 5px;
  background-color: white;
  padding: 15px 15px 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px 4px 0 0;
  border: 0;
  margin-left: 5px;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1) inset;
  display: block;
  text-decoration: none;
  color: var(--light-body-color);
  white-space: nowrap;
}

.Plugin__bar__actions {
  text-align: center;
  align-self: center;
  order: -1;
  flex-basis: 100%;
  margin: 5px auto 0;
}
@media (min-width: 700px) {
  .Plugin__bar__actions {
    order: initial;
    flex: 1;
    text-align: right;
  }
}

.Plugin__bar__option.is-active {
  box-shadow: none;
  color: var(--base-body-color);
  background-color: white;
}

.Plugin__content {
  background-color: white;
  border-radius: 4px;
}

.Plugin__seo,
.Plugin__readability {
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}

.Plugin__seo:last-child,
.Plugin__readability:last-child {
  border-bottom-width: 0;
}

.Plugin__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.Plugin__form:last-child {
  margin-bottom: 0;
}

.Plugin__form label {
  color: var(--light-body-color);
  margin-bottom: 4px;
}

.Plugin__line-with-decoration {
  display: flex;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 3px;
}

.Plugin__line-with-decoration p {
  margin: 0;
}

.Plugin__line-with-decoration a {
  color: var(--base-body-color);
}

.Plugin__line-with-decoration__decoration {
  width: 20px;
  flex-shrink: 0;
}

.Plugin__line-with-decoration__body {
  flex: 1;
}

.Plugin__line-with-decoration__action {
  margin-left: 20px;
}

.Plugin__results {
  margin-bottom: 20px;
}

.Plugin__result-group {
  margin-top: 20px;
}

.Plugin__result-group ul,
.Plugin__result-group li {
  margin: 0;
  padding: 0;
}

.Plugin__result-group-title {
  all: unset;
  color: var(--light-body-color);
  cursor: pointer;
}

.Plugin__result-group-title svg {
  stroke: var(--light-body-color);
}

.Plugin__result-item {
  display: flex;
  margin-top: 8px;
}

.Plugin__arrow {
  margin-right: 4px;
  width: 12px;
  height: 12px;
  stroke: #333333;
  stroke-width: 6px;
  fill: none;
}

.Plugin__arrow-up {
  transform: rotate(180deg);
}

.Plugin__button-wrapper {
  border-top: 1px solid #f0f0f0;
  padding-top: 12px;
  margin-top: 12px;
}

.Plugin__readability-tab {
  position: relative;
}

.Plugin__marks {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.Plugin__mark {
  padding: 15px;
  border-bottom: 1px solid var(--border-color);
}

.Plugin__mark:last-child {
  border-bottom-width: 0;
}

.Plugin__mark * {
  font-weight: normal;
  font-style: normal;
}

.Plugin__mark.with-highlights .yoast-text-mark {
  background: #fff9b7;
  padding: 0.1em 0.2em;
  border-radius: 3px;
}

.Plugin__result-item__details {
  all: unset;
}

.Plugin__bar__status-error {
  color: var(--alert-color);
}

.Plugin__add-new {
  padding: var(--spacing-m);
}
